img {
    max-width: 100%;
    width: 200px;
}

.box {
    position: relative;
    width: 100%;
}

.box:before {
    content: "";
    display: block;
    padding-top: 0%;
    vertical-align: center;
}

.bgimg {
    background: url("../templates/event_banner/maingomall-main.jpg") no-repeat center center;
    background-size: cover;
}

.bg-pink {
    background: #ff7583 no-repeat center center;
    background-size: cover;
    background-clip: padding-box;
}

#intro {
    position: relative;
    top: 0;
    left: 0;
}

#intro img {
    max-width: 3000px;
    width: 100%;
}

#intro .imgArea {
    text-align: center;
    vertical-align: middle;
}

#intro .videoArea {
    text-align: center;
    vertical-align: middle;
}

.video {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
}

iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}