@charset "utf-8";

* {margin:0; padding:0;}

/* 중간 부분 기본 구조 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,.0);}
.row {padding: 0 48px;}

/* 폰트 다운 양식 */
@font-face {font-family: 'SDSamliphopangche_Outline'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'paybooc-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal;}

/* 폰트 class */
.sub-title {font-family: 'paybooc-Bold', Arial; font-size: 1.5vmax; font-weight: 700; text-align: center; padding-top: 3vmax; padding-bottom: 3vmax;}
.btn-txt {font-family: 'paybooc-Bold', Arial; font-size: 1vmax; font-weight: 700; text-align: center; padding-top: 1vmax;}
.item-name {font-family:'HangeulNuri-Bold', sans-serif; font-size: 1vmax; padding-bottom: 1vmax; color: black;}
.selling-price .price-percent {color: #db5b5f; font-family: 'paybooc-Bold', Arial; font-size: 1.5vmax; font-weight: 700;}
.selling-price .price-before {color: #474747; font-family: 'paybooc-Bold', Arial; font-size: 1vmax; text-decoration: line-through;}
.selling-price .price-after {font-family: 'paybooc-Bold', Arial; font-size: 1.5vmax; font-weight: 700;}

/* 이미지 반응형 설정 */
img {max-width: 100%; width: 200px;}
.box {position: relative; width: 100%;}
.box:before {content: ""; display: block; padding-top: 0%; vertical-align: center;}

/* 인트로 섹션 이미지 설정 */
#intro {position: relative; top: 0; left: 0;}
#intro img {max-width: 3000px; width: 100%;}
#intro .imgArea {text-align: center; vertical-align: middle;}

/* 인트로 섹션 비디오 설정 */
#intro .videoArea {text-align: center; vertical-align: middle;}
.video {width: 100%; max-width: 1280px; margin: 0 auto; background-color: #f0f0f0; padding: 20px; box-sizing: border-box;}
.video-container {position: relative; width: 100%; height: auto; padding-top: 50%;}
iframe {z-index: 1; top: 0; left: 0; position: absolute; width: 100%; height: 100%;}

/* 제품 소개 섹션 */
.menu {padding: 100px 0;}

/* 제품 카테고리 선택 */
.menu-title {margin-bottom: 60px;}
.menu-title ul {overflow: hidden; width: 424px; margin: 0 auto;}
.menu-title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px; list-style: none;}
.menu-title li a {display: block; padding: 15px 0; color: #000000; text-decoration: none;}
.menu-title li.active a {background: #666; color: #fff;}

/* 제품 정보 레이아웃 */
.menu-info {overflow: hidden;}
.menu-info > div > div > div {float: left; width: 292px;}
.menu-info > div > div > div:last-child {margin-right: 0;}
.menu-info > div > div > div .infor {background: #fff; padding: 15px;}
.menu-info > div > div > div .infor .infor_btn {overflow: hidden;}
.menu-info > div > div > div .infor .infor_btn .active {background: #666; color: #fff;}
.menu-info > div > div > div .infor .infor_btn .active {background: #666; color: #fff;}
.menu-info > div > div > div .infor .infor_btn a {float: left; width: 100%; margin-right: 2%; text-align: center; padding: 10px 0; box-sizing: border-box; background: #f2f2f2; color: black; text-decoration: none;}
.menu-info > div > div > div .infor .infor_btn a:last-child {margin-right: 0;}

/* 제품 이미지 레이아웃 */
.top-section {height: 240px; overflow: hidden; background-color: #FFFFFF; position: relative;}
.image-container {width: 380px; height: 240px;}

/* 제품 소개 레이아웃 효과 */
.swiper-slide {border: 1px solid #d9d9d9;}
.swiper-slide:hover {border: 1px solid #db5b5f;}

/* 제품 소개 섹션 미디어쿼리 */
@media (max-width: 1290px){
    .container {width: 100%;}
    .row {padding: 0 24px;}
}

@media (max-width: 1270px){
    /*4개씩*/
    .container {width: 100%;}
    .row {padding: 0 24px;}
    .menu-info > div > div > div {float: left; width: 250px;}
}

@media (max-width: 800px){
    /*카테고리 1줄 상품 2개씩*/
    body {background: #FFFFFF;}
    .row {padding: 0 16px;}

    #menu_mingo .row {background: #fff; margin: 24px; padding: 24px;}
    #menu_clean .row {background: #fff; margin: 24px; padding: 24px;}
    .menu {padding: 0;}
    .menu-title {margin-bottom: 30px;}
    .menu-title ul {position: relative; padding-bottom: 10px; width: 100%;}
    .menu-title ul:before {content: ''; position: absolute; z-index: 1; left: 0; bottom: 0px; width: 100%; height: 2px; background: #e1e1e1;}
    .menu-title li {width: auto; border: 0;}
    .menu-title li a {position: relative; color: #666; padding: 0; margin-right: 35px;}
    .menu-title li.active a {background: none; color: #666;}
    .menu-title li.active a:before {content: ''; position: absolute; z-index: 10000; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666;}
    .menu-info > div > div > div {float: left; width: 220px;}
}

@media (max-width: 720px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 240px;}
}

@media (max-width: 600px){
    #menu_mingo .container {}
    #menu_mingo .container:after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background: #d9d7e0;}
    #menu_mingo .row {position: relative; margin: 8px; padding: 16px; margin-right: 0; padding-right: 0;}
    #menu_mingo .row:after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background-color: #fff;}
    #menu_clean .container {}
    #menu_clean .container:after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background: #d9d7e0;}
    #menu_clean .row {position: relative; margin: 8px; padding: 16px; margin-right: 0; padding-right: 0;}
    #menu_clean .row:after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background-color: #fff;}
    .menu-title {margin-bottom: 20px;}
    .menu-title ul {padding-bottom: 8px; white-space: nowrap; overflow-x: auto;}
    .menu-title li a {margin-right: 15px;}
    .menu-title li.active a:before {bottom: -8px;}

    .menu-info {position: relative; z-index: 30;}
    .menu-info > div > div > div .infor {padding: 5px;}
}

@media (max-width: 520px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 210px;}
}

@media (max-width: 440px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 180px;}
}

@media (max-width: 420px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 180px;}
}

@media (max-width: 390px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 160px;}
}

@media (max-width: 350px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 150px;}
}

@media (max-width: 330px){
    .menu-title li a {margin-right: 9px;}
    .menu-info > div > div > div {float: left; width: 250px;}
}