* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'SDSamliphopangche_Outline', Arial;
    font-size: 3.5vmax;
    font-weight: 700;
    text-align: center;
    color: #ff7583;
    padding-bottom: 2vmax;
}

.sub-title {
    font-family: 'paybooc-Bold', Arial;
    font-size: 1.5vmax;
    font-weight: 700;
    text-align: center;
    padding-top: 3vmax;
    padding-bottom: 3vmax;
}

.txt {
    font-family:'HangeulNuri-Bold', sans-serif;
    font-size: 1vmax;
    text-align: center;
}

.btn-txt {
    font-family: 'paybooc-Bold', Arial;
    font-size: 1vmax;
    font-weight: 700;
    text-align: center;
    padding-top: 1vmax;
}

.item-name {
    font-family:'HangeulNuri-Bold', sans-serif;
    font-size: 1vmax;
    padding-bottom: 1vmax;
    color: black;
}

.wrapper {
    height: 100%;
    text-align: center;
}
.wrapper:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
}

.selling-price .price-percent {
    color: #db5b5f;
    font-family: 'paybooc-Bold', Arial;
    font-size: 1.5vmax;
    font-weight: 700;
}

.selling-price .price-before {
    color: #474747;
    font-family: 'paybooc-Bold', Arial;
    font-size: 1vmax;
    text-decoration: line-through;
}

.selling-price .price-after {
    font-family: 'paybooc-Bold', Arial;
    font-size: 1.5vmax;
    font-weight: 700;
}