<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mingomall president's day sale event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--css-->
    <link rel="stylesheet" href="../css/mingomall.css">
</head>

<body>
    <section id="intro">
        <!-- 반응형 이미지 삽입 시 .imgArea .box .img 양식-->
        <!-- 사용된 map은 #mingomall-main-->
        <div class="imgArea">
            <div class="box">
                <img src="../static/korean-mingomall.jpg" alt="president's day sale event" usemap="#mingomall-main">
                <map name="mingomall-main" id="mingomall-main">
                    <area shape="rect" coords="765,657,1196,725" href="https://mingomall.com/">
                </map>
                <img src="../static/korean-intro.jpg" alt="mingomall">
                <img src="../static/korean-menu-all.jpg" alt="view more">
            </div>
        </div>
    </section>

    <section id="menu_korea">
        <div class="container">
            <div class="row">
                <div class="menu">
                    <!-- 제품 레이아웃-->
                    <!-- 기본 구조 .menu-info .swiper-container2 .swiper-wrapper-->
                    <div class="menu-info">
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <!-- 제품 추가 시 기본 구조 아래
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="" alt="">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">제품 이름</p>
                                            <span class="selling-price">
                                                <em class="price-percent">할인율</em>
                                                <span class="price-before">소비자가</span>
                                                <span class="price-after">판매가</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                상단의 양식을 따를 것-->
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-1-img.jpg" alt="Gorye Celadon Cellphone Case">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Gorye Celadon Cellphone Case</p>
                                            <span class="selling-price">
                                                <span class="price-after">$30</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-2-img.jpg" alt="Korean Traditional Furoshiki Skirt">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Korean Traditional Furoshiki Skirt</p>
                                            <span class="selling-price">
                                                <span class="price-after">$133.45</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-3-img.jpg" alt="Korean Traditional Incense">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Korean Traditional Incense(Snow)</p>
                                            <span class="selling-price">
                                                <span class="price-after">$38.5</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-4-img.jpg" alt="Korean Luxury Fan">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Korean Luxury Fan</p>
                                            <span class="selling-price">
                                                <span class="price-after">$27</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-5-img.jpg" alt="Najeon Jewelry Box">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Najeon Jewelry Box</p>
                                            <span class="selling-price">
                                                <span class="price-after">$172.5</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-6-img.jpg" alt="Hahoe Mask">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Hahoe Mask</p>
                                            <span class="selling-price">
                                                <span class="price-after">$36.2</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-7-img.jpg" alt="Business Card Case + Pen">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Business Card Case + Pen</p>
                                            <span class="selling-price">
                                                <span class="price-after">$27</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-8-img.jpg" alt="Traditional Hanging Scroll">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Traditional Hanging Scroll</p>
                                            <span class="selling-price">
                                                <span class="price-after">$63</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img class="image-container" src="../static/korean-item-9-img.jpg" alt="Blue&White Porcelain Tea Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Blue&White Porcelain Tea Set</p>
                                            <span class="selling-price">
                                                <span class="price-after">$32</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="#" class="active">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="intro">
        <div class="imgArea">
            <div class="box">
                <img src="../static/korean-item-1.jpg" alt="item 1">
                <img src="../static/korean-item-2.jpg" alt="item 2">
                <img src="../static/korean-item-3.jpg" alt="item 3">
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/jquery.min..js"></script>
    <script type="text/javascript" src="../js/jquery.rwdImageMaps.js"></script>
    <script type="text/javascript" src="../js/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) { $('img[usemap]').rwdImageMaps(); });
    </script>
</body>
</html>