<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mingomall president's day sale event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="../css/mingomall-image.css">
    <link rel="stylesheet" href="../css/mingomall-font.css">
    <link rel="stylesheet" href="../css/mingomall-box.css">
</head>

<body>
    <section id="intro">
        <div class="imgArea">
            <div class="box">
                <img src="../static/us_mingomall_main.jpg" alt="president's day sale event" usemap="#mingomall-main">
                <map name="mingomall-main" id="mingomall-main">
                    <area shape="rect" coords="758,898,1166,973" href="https://mingomall.com/">
                </map>
            </div>
            <div class="box">
                <img src="../static/us_mingomall_item.jpg" alt="mingomall item" usemap="#mingomall-us-item-1">
                <map name="mingomall-us-item-1" id="mingomall-us-item-1">
                    <area shape="rect" coords="260,645,605,1018" href="https://mingomall.com/product/%EB%8B%AC%EC%BD%A4-%EB%A8%B8%EB%9E%AD%EC%BF%A0%ED%82%A4/59/category/97/display/1/">
                    <area shape="rect" coords="609,645,952,1018" href="https://mingomall.com/product/%EB%9D%BC%ED%8C%8C%EB%8D%B0%EC%98%A4-%EB%9D%BC%ED%8C%8C%ED%97%88%EB%8B%88-s3/34/category/97/display/1/">
                    <area shape="rect" coords="960,645,1305,1018" href="https://mingomall.com/product/%EA%B3%A0%EC%86%8D%EB%AC%B4%EC%84%A0%EC%B6%A9%EC%A0%84-al700uv-%EC%95%8C%EB%A6%BC%EC%8B%9C%EA%B3%84-uv%EC%82%B4%EA%B7%A0/33/category/97/display/1/">
                    <area shape="rect" coords="1309,645,1650,1018" href="https://mingomall.com/product/%EB%B0%8D%EA%B3%A0-%EB%8D%B4%ED%83%88%EB%A7%88%EC%8A%A4%ED%81%AC/57/category/81/display/1/">
                </map>
            </div>
        </div>
        <div class="imgArea">
            <div class="box">
                <img src="../static/us_mingomall_btn.jpg" alt="view more">
            </div>
        </div>
    </section>

    <section id="intro">
        <div class="container">
            <div class="imgArea">
                <div class="box">
                    <img src="../static/btn-mingohall.jpg" alt="president's day sale event" usemap="#mingomall-btn-1">
                    <map name="mingomall-btn-1" id="mingomall-btn-1">
                        <area shape="rect" coords="564,339,921,458" href="#menu_mingo">
                        <area shape="rect" coords="993,339,1348,461" href="#menu_clean">
                    </map>
                </div>
            </div>
        </div>
    </section>
    <section id="menu_mingo">
        <div class="container">
            <div class="row">
                <div class="menu">
                    <div class="menu-info">
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/위생키트4호.jpg" alt="[L House] Hygiene Kit 4">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[L House] Hygiene Kit 4</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">22,500원</span>
                                                <span class="price-after">15,700원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%97%98%ED%95%98%EC%9A%B0%EC%8A%A4-%EC%9C%84%EC%83%9D%ED%82%A4%ED%8A%B8-4%ED%98%B8/50/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/한우.jpg" alt="Korean beef bargain gift set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Korean Beef Bargain Gift Set</p>
                                            <span class="selling-price">
                                                <em class="price-percent">20%</em>
                                                <span class="price-before">118,180원</span>
                                                <span class="price-after">95,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8C%80%ED%95%9C%ED%95%9C%EC%9A%B0-%EC%8B%A4%EC%86%8D-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/36/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/최고급한우.jpg" alt="Korean beef premium gift set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Korean Beef Premium Gift Get</p>
                                            <span class="selling-price">
                                                <em class="price-percent">9%</em>
                                                <span class="price-before">154,000원</span>
                                                <span class="price-after">140,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8C%80%ED%95%9C%ED%95%9C%EC%9A%B0-%EC%B5%9C%EA%B3%A0%EA%B8%89-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/37/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/라파허니.jpg" alt="[Rapadeo] Rapa Honey-S3">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Rapadeo] RapaHoney-S3</p>
                                            <span class="selling-price">
                                                <em class="price-percent">7%</em>
                                                <span class="price-before">54,000원</span>
                                                <span class="price-after">50,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9D%BC%ED%8C%8C%EB%8D%B0%EC%98%A4-%EB%9D%BC%ED%8C%8C%ED%97%88%EB%8B%88-s3/34/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/무선충전.jpg" alt="High-speed wireless charging AL700UV alarm clock UV sterilization">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">High-Speed Wireless Charging AL700UV Alarm Clock UV Sterilization</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">49,900원</span>
                                                <span class="price-after">30,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EA%B3%A0%EC%86%8D%EB%AC%B4%EC%84%A0%EC%B6%A9%EC%A0%84-al700uv-%EC%95%8C%EB%A6%BC%EC%8B%9C%EA%B3%84-uv%EC%82%B4%EA%B7%A0/33/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/커피잔세트.jpg" alt="[Royal Craftton] Bone China Modern Gold Coffee Mug Set 5 Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Royal Craftton] Bone China Modern Gold 5 Coffee Mugs Set</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">86,500원</span>
                                                <span class="price-after">60,500원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%A1%9C%EC%96%84%ED%81%AC%EB%9E%98%ED%94%84%ED%86%A4-%EB%B3%B8%EC%B0%A8%EC%9D%B4%EB%82%98-%EB%AA%A8%EB%8D%98%EA%B3%A8%EB%93%9C-%EC%BB%A4%ED%94%BC%EC%9E%94%EC%84%B8%ED%8A%B8-5%EC%A1%B0/48/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/궁중팬.jpg" alt="[Royal Craftton] Basil Cask Triple Stainless Steel Palace Pan + Glass Lid">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Royal Craftton] Basil Cask Triple Stainless Steel Palace Pan + Glass Lid</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">77,180원</span>
                                                <span class="price-after">53,900원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%A1%9C%EC%96%84%ED%81%AC%EB%9E%98%ED%94%84%ED%86%A4-%EB%B0%94%EC%8B%A4-%ED%86%B53%EC%A4%91-%EC%8A%A4%ED%85%90-%EA%B6%81%EC%A4%91%ED%8C%AC-%EC%9C%A0%EB%A6%AC%EB%9A%9C%EA%BB%91/49/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/정관장.jpg" alt="Jeong Kwan-Jang Red Ginseng Secret">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Jeong Kwan Jang] Red Ginseng Specific Power (That Adds Strength)</p>
                                            <span class="selling-price">
                                                <em class="price-percent">4%</em>
                                                <span class="price-before">38,200원</span>
                                                <span class="price-after">40,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%A0%95%EA%B4%80%EC%9E%A5-%ED%99%8D%EC%82%BC%EB%B9%84%EB%A0%A5/35/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/보리굴비.jpg" alt="Yeonggwang Barley Gulbi Gift Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Yeonggwang Barley Gulbi Gift Set</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">136,000원</span>
                                                <span class="price-after">95,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%98%81%EA%B4%91-%EB%B3%B4%EB%A6%AC%EA%B5%B4%EB%B9%84-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/41/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/참굴비.jpg" alt="Chamgulbi Gift Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Chamgulbi Gift Set</p>
                                            <span class="selling-price">
                                                <em class="price-percent">20%</em>
                                                <span class="price-before">125,000원</span>
                                                <span class="price-after">88,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%B0%B8%EA%B5%B4%EB%B9%84-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/40/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/사과중과.jpg" alt="Holiday Apple Gift Set Junggwa">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Holiday Apple Gift Set Junggwa</p>
                                            <span class="selling-price">
                                                <em class="price-percent">36%</em>
                                                <span class="price-before">70,450원</span>
                                                <span class="price-after">45,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%AA%85%EC%A0%88-%EC%82%AC%EA%B3%BC%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8-%EC%A4%91%EA%B3%BC/42/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/사과제수용.jpg" alt="Holiday Apple Gift Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Holiday Apple Gift Set</p>
                                            <span class="selling-price">
                                                <em class="price-percent">27%</em>
                                                <span class="price-before">72,290원</span>
                                                <span class="price-after">53,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%AA%85%EC%A0%88-%EC%82%AC%EA%B3%BC%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8-%EC%A0%9C%EC%88%98%EC%9A%A9/43/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/명화특C호.jpg" alt="Aekyung Masterpiece Special C">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Aekyung Masterpiece Special C</p>
                                            <span class="selling-price">
                                                <em class="price-percent">62%</em>
                                                <span class="price-before">39,200원</span>
                                                <span class="price-after">15,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%95%A0%EA%B2%BD-%EB%AA%85%ED%99%94-%ED%8A%B9c%ED%98%B8/44/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/정성6호.jpg" alt="Aekyung Jeongseong No. 6">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Aekyung Jeongseong No. 6</p>
                                            <span class="selling-price">
                                                <em class="price-percent">6%</em>
                                                <span class="price-before">33,900원</span>
                                                <span class="price-after">32,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%95%A0%EA%B2%BD-%EC%A0%95%EC%84%B1-6%ED%98%B8/45/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/명화특A호.jpg" alt="Aekyung Masterpiece Special A">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Aekyung Masterpiece Special A</p>
                                            <span class="selling-price">
                                                <em class="price-percent">33%</em>
                                                <span class="price-before">12,000원</span>
                                                <span class="price-after">8,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%95%A0%EA%B2%BD-%EB%AA%85%ED%99%94-%ED%8A%B9a%ED%98%B8/46/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/프렌디.jpg" alt="[Holy Tree] Friendy 2000IU">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Holy Tree] Friendy 2000IU</p>
                                            <span class="selling-price">
                                                <em class="price-percent">12%</em>
                                                <span class="price-before">68,000원</span>
                                                <span class="price-after">60,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%ED%99%80%EB%A6%AC%ED%8A%B8%EB%A6%AC-%ED%94%84%EB%A0%8C%EB%94%94-2000iu/51/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/저주파안마기.jpg" alt="Heated Low Frequency Massager">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Heated Low Frequency Massager</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">28,500원</span>
                                                <span class="price-after">20,300원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%98%A8%EC%97%B4-%EC%A0%80%EC%A3%BC%ED%8C%8C-%EC%95%88%EB%A7%88%EA%B8%B0/47/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/실속형1호.jpg" alt="[Labsin] Sanitary Set, Practical Type 1">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Labsin] Sanitary Set, Practical Type 1</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">36,000원</span>
                                                <span class="price-after">25,300원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EC%8B%A4%EC%86%8D%ED%98%95-1%ED%98%B8/53/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/고급형2호.jpg" alt="[Labsin] Hygiene Set Premium Type 2">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Labsin] Hygiene Set Premium Type 2</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">78,000원</span>
                                                <span class="price-after">55,200원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EA%B3%A0%EA%B8%89%ED%98%95-2%ED%98%B8/54/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/타트체리.jpg" alt="[Green Ae] Tart Cherry 100 Fruit and Vegetable Juice">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Green Ae] Tart Cherry 100 Fruit and Vegetable Juice</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">35,000원</span>
                                                <span class="price-after">25,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EA%B7%B8%EB%A6%B0%EC%95%A0-%ED%83%80%ED%8A%B8%EC%B2%B4%EB%A6%AC100-%EA%B3%BC%EC%B1%84%EC%A3%BC%EC%8A%A4/52/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/인기건어물.jpg" alt="Popular Dried Fish Gift Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Popular Dried Fish Gift Set</p>
                                            <span class="selling-price">
                                                <em class="price-percent">10%</em>
                                                <span class="price-before">50,000원</span>
                                                <span class="price-after">45,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%9D%B8%EA%B8%B0-%EA%B1%B4%EC%96%B4%EB%AC%BC-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/58/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/머랭쿠키.jpg" alt="Sweet Meringue Cookie">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Sweet Meringue Cookie</p>
                                            <span class="selling-price">
                                                <span class="price-after">5,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8B%AC%EC%BD%A4-%EB%A8%B8%EB%9E%AD%EC%BF%A0%ED%82%A4/59/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/춘천닭갈비.jpg" alt="Chuncheon Red Head Aunt Chicken Ribs">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Chuncheon Red Head Aunt Chicken Ribs</p>
                                            <span class="selling-price">
                                                <span class="price-after">12,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%B6%98%EC%B2%9C-%EB%B9%A8%EA%B0%95%EB%A8%B8%EB%A6%AC%EC%9D%B4%EB%AA%A8-%EB%8B%AD%EA%B0%88%EB%B9%84/60/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/한지마스크.jpg" alt="[Dodam] Hanji Mask">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Dodam] Hanji Mask</p>
                                            <span class="selling-price">
                                                <span class="price-after">22,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8F%84%EB%8B%B4-%ED%95%9C%EC%A7%80-%EB%A7%88%EC%8A%A4%ED%81%AC/62/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/건어명가동해.jpg" alt="[Dried Fish Name Gadonghae] Dried Fish Gift Set">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Dried Fish Name Gadonghae] Dried Fish Gift Set</p>
                                            <span class="selling-price">
                                                <span class="price-after">10,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EA%B1%B4%EC%96%B4%EB%AA%85%EA%B0%80%EB%8F%99%ED%95%B4-%EA%B1%B4%EC%96%B4%EB%AC%BC-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/63/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="intro">
        <div class="imgArea">
            <div class="box">
                <img src="../static/btn-prevention.jpg" alt="president's day sale event" usemap="#mingomall-btn-2">
                <map name="mingomall-btn-2" id="mingomall-btn-2">
                    <area shape="rect" coords="624,86,928,188" href="#menu_mingo">
                    <area shape="rect" coords="991,87,1295,188" href="#menu_clean">
                </map>
            </div>
        </div>
    </section>
    <section id="menu_clean">
        <div class="container">
            <div class="row">
                <div class="menu">
                    <div class="menu-info">
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/위생키트4호.jpg" alt="[L House] Hygiene Kit 4">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[L House] Hygiene Kit 4</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">22,500원</span>
                                                <span class="price-after">15,700원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%97%98%ED%95%98%EC%9A%B0%EC%8A%A4-%EC%9C%84%EC%83%9D%ED%82%A4%ED%8A%B8-4%ED%98%B8/50/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/실속형1호.jpg" alt="[Labsin] Sanitary Set, Practical Type 1">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Labsin] Sanitary Set, Practical Type 1</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">36,000원</span>
                                                <span class="price-after">25,300원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EC%8B%A4%EC%86%8D%ED%98%95-1%ED%98%B8/53/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/고급형2호.jpg" alt="[Labsin] Hygiene Set Premium Type 2">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Labsin] Hygiene Set Premium Type 2</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">78,000원</span>
                                                <span class="price-after">55,200원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EA%B3%A0%EA%B8%89%ED%98%95-2%ED%98%B8/54/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/휴가드.jpg" alt="Vacationed Yellow Dust Mask (KF94)">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Vacationed Yellow Dust Mask (KF94)</p>
                                            <span class="selling-price">
                                                <em class="price-percent">50%</em>
                                                <span class="price-before">500원</span>
                                                <span class="price-after">250원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%ED%9C%B4%EA%B0%80%EB%93%9C-%ED%99%A9%EC%82%AC%EB%B0%A9%EC%97%AD%EB%A7%88%EC%8A%A4%ED%81%ACkf94/55/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/닥터스.jpg" alt="Doctor's Clean Gel">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Doctor's Clean Gel</p>
                                            <span class="selling-price">
                                                <em class="price-percent">36%</em>
                                                <span class="price-before">7,000원</span>
                                                <span class="price-after">3,500원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8B%A5%ED%84%B0%EC%8A%A4-%ED%81%B4%EB%A6%B0%EA%B2%94/56/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/밍고덴탈.jpg" alt="Flamingo Mask">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Flamingo Mask</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">7,000원</span>
                                                <span class="price-after">5,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%B0%8D%EA%B3%A0-%EB%8D%B4%ED%83%88%EB%A7%88%EC%8A%A4%ED%81%AC/57/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/나인포.jpg" alt="Nine Four Black Mask">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">Nine Four Black Mask</p>
                                            <span class="selling-price">
                                                <em class="price-percent">24%</em>
                                                <span class="price-before">660원</span>
                                                <span class="price-after">500원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%82%98%EC%9D%B8%ED%8F%AC-%EB%B8%94%EB%9E%99-%EB%A7%88%EC%8A%A4%ED%81%AC/61/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/한지마스크.jpg" alt="[Dodam] Hanji Mask">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[Dodam] Hanji Mask</p>
                                            <span class="selling-price">
                                                <span class="price-after">22,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%82%98%EC%9D%B8%ED%8F%AC-%EB%B8%94%EB%9E%99-%EB%A7%88%EC%8A%A4%ED%81%AC/61/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/jquery.min..js"></script>
    <script type="text/javascript" src="../js/jquery.rwdImageMaps.js"></script>
    <script type="text/javascript" src="../js/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) { $('img[usemap]').rwdImageMaps(); });
    </script>>
</body>
</html>