<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>플라밍고 제품 안내</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 오픈 소스 css 문서 -->
    <!-- 빠른 시간 내에 완성해야 했던 관계로 오픈 소스 코드를 사용하였으며 html 코드 내에 style 속성을 사용함 따라서 이후 css 수정 필요 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- 통합 css 문서 -->
    <link rel="stylesheet" href="../css/mingomall.css">
</head>

<body>
    <!-- 페이지 설명 영역 -->
    <section id="intro">
        <div class="imgArea">
            <div class="box">
                <img src="../static/flamingo.jpg">
            </div>
        </div>
    </section>

    <!-- 제품 1 스마트오더 -->
    <section class="bgimg" id="smart-order">
        <!-- 제품 구분선 -->
        <img src="../static/smartorder.jpg">
        <div class="container">
            <!-- 제품 설명 영역 -->
            <div class="btn btn-lg btn-outline-danger txt" style="float: right;">
                <a href="#" style="text-decoration: none;">더보기</a>
            </div>
            <div class="btn btn-lg btn-outline-danger txt" style="float: right;">
                <a href="#" style="text-decoration: none;">문의하기</a>
            </div>
            <!-- 현재 모든 이미지 임시 이미지 사용 이후 수정 필요 -->
            <img src="http://placehold.it/400x300" style="float: left; margin: 10px;">
            <p style="margin: 10px; padding: 100px 0">
                대형 프랜차이즈의 경우 오프라인이 아닌, 온라인으로 선주문 후 매장에 방문해 주문한 품목만 찾아가는 서비스가 존재합니다. 하지만 실질적으로 개인 요식업자 및 소상공인 분들은 이러한 기술이 반영되어 있지 않습니다. 이에 대해 온라인 주문과, 픽업 시간 조정이 가능한 스마트오더를 개발하였습니다.
            </p>
        </div>
        <!-- 사용 예시 영역-->
        <!-- 모바일 화면 시 예시가 길어져 이후 크기를 조절하거나 슬라이드 등으로 대체 필요 -->
        <div class="container" style="clear: both;">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 1</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                            <!-- 현재 모든 이미지 임시 이미지 사용 이후 수정 필요 -->
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 2</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                            <!-- 현재 모든 이미지 임시 이미지 사용 이후 수정 필요 -->
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 3</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                            <!-- 현재 모든 이미지 임시 이미지 사용 이후 수정 필요 -->
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 제품 2 홈페이지 -->
    <!-- 이하 구조 동일 -->
    <section class="bgimg" id="homepage">
        <!-- 제품 구분선 -->
        <img src="../static/hompage.jpg">
        <!-- 제품 설명 영역 -->
        <div class="container">
            <div class="btn btn-lg btn-outline-danger txt" style="float: left;">
                <a href="#" style="text-decoration: none;">더보기</a>
            </div>
            <div class="btn btn-lg btn-outline-danger txt" style="float: left;">
                <a href="#" style="text-decoration: none;">문의하기</a>
            </div>
            <img src="http://placehold.it/400x300" style="float: right; margin: 10px;">
            <p style="margin: 10px; padding: 100px 0">
                스마트오더를 사용하시는 경우 추가적으로 홈페이지의 제작을 의뢰할 수 있습니다. 상가 당 개별적인 온라인 쇼핑몰을 제작해드리며 사장님들께서 직접 판매 상품을 등록, 수정, 삭제할 수 있습니다. 전용 홈페이지의 사용으로 인해 직접 매장에 방문하지 않는 고객 분들을 추가적으로 유치할 수 있으며, 기존 이용 고객 분들께도 선주문, 선결제, 픽업 시간을 설정하는 등의 편리성을 제공할 수 있습니다.
            </p>
        </div>
        <!-- 사용 예시 영역-->
        <div class="container" style="clear: both;">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 1</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 2</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 3</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 제품 3 샤이니지 -->
    <section class="bgimg" id="sinage">
        <!-- 구분선 -->
        <img src="../static/sinage.jpg">
        <!-- 제품 설명 영역 -->
        <div class="container">
            <div class="btn btn-lg btn-outline-danger txt" style="float: right;">
                <a href="#" style="text-decoration: none;">더보기</a>
            </div>
            <div class="btn btn-lg btn-outline-danger txt" style="float: right;">
                <a href="#" style="text-decoration: none;">문의하기</a>
            </div>
            <img src="http://placehold.it/400x300" style="float: left; margin: 10px;">
            <p style="margin: 10px; padding: 100px 0">
                사이니지는 공공장소나 상업공간에 설치되는 디스플레이를 말합니다.  정보통신기술(ICT)과 결합해 다양한 콘텐츠를 제공하면서 기존 옥외 광고물을 빠르게 대체하고 있는 제품입니다. 플라밍고에는 밍고TV라는 전용페이지가 있기때문에 이를 통해 원격으로 콘텐츠 등록과 설정을 도와드리고 있으며 빠른 응대를 통해 사장님들의 만족도가 무척 높습니다.
            </p>
        </div>
        <!-- 사용 예시 영역-->
        <div class="container" style="clear: both;">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 1</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 2</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 3</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 제품 4 키오스크 -->
    <section class="bgimg" id="kiosk">
        <!-- 구분선 -->
        <img src="../static/kiosk.jpg">
        <!-- 제품 설명 영역 -->
        <div class="container">
            <div class="btn btn-lg btn-outline-danger txt" style="float: left;">
                <a href="#" style="text-decoration: none;">더보기</a>
            </div>
            <div class="btn btn-lg btn-outline-danger txt" style="float: left;">
                <a href="#" style="text-decoration: none;">문의하기</a>
            </div>
            <img src="http://placehold.it/400x300" style="float: right; margin: 10px;">
            <p style="margin: 10px; padding: 100px 0">
                자동화 시대 및 인건비 증가에 따라 플라밍고는 키오스크 결제와 포스 사업을 진행하고 있습니다. 점주 분들의 일손을 하나라도 도울 수 있는 키오스크를 통하여 더욱 효과적이고 빠른 주문 처리가 가능합니다.
            </p>
        </div>
        <!-- 사용 예시 영역-->
        <div class="container" style="clear: both;">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 1</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 2</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 3</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 제품 5 홀로그램 -->
    <section class="bgimg" id="hologram">
        <!-- 구분선 -->
        <img src="../static/hologram.jpg">
        <!-- 제품 설명 영역 -->
        <div class="container">
            <div class="btn btn-lg btn-outline-danger txt" style="float: right;">
                <a href="#" style="text-decoration: none;">더보기</a>
            </div>
            <div class="btn btn-lg btn-outline-danger txt" style="float: right;">
                <a href="#" style="text-decoration: none;">문의하기</a>
            </div>
            <img src="http://placehold.it/400x300" style="float: left; margin: 10px;">
            <p style="margin: 10px; padding: 100px 0">
                홀로그램 기술은 레이저 장치가 빛을 쏘면, 홀로그램 영상이 입체처럼 보이게 하는 기술입니다. 영상을 활용해 다양한 콘텐츠를 연출할 수 있으며 여기에 3D 특수효과를 추가하면 눈앞에 상품이 있는 것 같은 생생함을 느낄 수 있습니다.  홀로그램을 사용하시면 소비자의 눈길을 끄는 좋은 방법이 될 수 있으며 이를 통해 광고 효과를 보실 수 있습니다.
            </p>
        </div>
        <!-- 사용 예시 영역-->
        <div class="container" style="clear: both;">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 1</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 2</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal txt">예시 3</h4>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <img src="http://placehold.it/600x600" />
                        </a>
                        <ul class="list-unstyled mt-3 mb-4 intro-text">
                            <li>필요 시 상세 설명</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 푸터 영역 -->
    <!-- 기업에 맞춰 문구 등 수정 필요 -->
    <footer style="margin-bottom  : -20px; text-align:center; background-image: url('../static/footer.jpg'); background-size: cover;">
        <br>
        <p class="about">
            <a href="#"><i class="fa fa-home"></i> Home</a> |
            <a href="#" rel="nofollow">About</a> |
            <a href="#" rel="nofollow">Contact</a> |
            <a href="#" rel="nofollow">Terms of Use</a> |
            <a href="#" rel="nofollow">Privacy Policy</a>
        </p>
        <p>© Copyright 2021 By Yoon0223</p>
        <br>
    </footer>
</body>

</html>