<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>밍고몰 설 선물세트 홍보 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="../css/mingomall-image.css">
    <link rel="stylesheet" href="../css/mingomall-font.css">
    <link rel="stylesheet" href="../css/mingomall-box.css">
</head>

<body>
    <section id="intro">
        <div class="imgArea">
            <div class="box">
                <img src="../static/maingomall-main.jpg" alt="밍고몰 홍보 페이지">
            </div>
            <div class="box">
                <img src="../static/item-1.jpg" alt="밍고몰 설 선물세트 1" usemap="#mingomall-item-1">
                <map name="mingomall-item-1" id="mingomall-item-1">
                    <area shape="rect" coords="292,480,949,1085" href="https://mingomall.com/product/%EB%8C%80%ED%95%9C%ED%95%9C%EC%9A%B0-%EC%8B%A4%EC%86%8D-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/36/category/97/display/1/">
                    <area shape="rect" coords="292,1090,949,1698" href="https://mingomall.com/product/%EB%8C%80%ED%95%9C%ED%95%9C%EC%9A%B0-%EC%B5%9C%EA%B3%A0%EA%B8%89-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/37/category/97/display/1/">
                    <area shape="rect" coords="950,480,1608,1085" href="https://mingomall.com/product/%EC%9D%B8%EA%B8%B0-%EA%B1%B4%EC%96%B4%EB%AC%BC-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/58/category/97/display/1/">
                    <area shape="rect" coords="950,1090,1608,1698" href="https://mingomall.com/product/%EA%B1%B4%EC%96%B4%EB%AA%85%EA%B0%80%EB%8F%99%ED%95%B4-%EA%B1%B4%EC%96%B4%EB%AC%BC-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/63/category/97/display/1/">
                </map>
            </div>
        </div>
        <div class="videoArea">
            <div class="box">
                <img src="../static/item-banner-.jpg" alt="라파허니 배너" usemap="#mingomall-banner">
                <map name="mingomall-banner" id="mingomall-banner">
                    <area shape="rect" coords="1312,252,1541,370" href="https://mingomall.com/product/%EB%9D%BC%ED%8C%8C%EB%8D%B0%EC%98%A4-%EB%9D%BC%ED%8C%8C%ED%97%88%EB%8B%88-s3/34/category/97/display/1/">
                </map>
            </div>
            <div class="video">
                <div class="video-container">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qtxIPjm7quY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="imgArea">
            <div class="box">
                <img src="../static/item-2.jpg" alt="밍고몰 설 선물세트 2" usemap="#mingomall-item-2">
                <map name="mingomall-item-2" id="mingomall-item-2">
                    <area shape="rect" coords="308,395,910,978" href="https://mingomall.com/product/%EC%B6%98%EC%B2%9C-%EB%B9%A8%EA%B0%95%EB%A8%B8%EB%A6%AC%EC%9D%B4%EB%AA%A8-%EB%8B%AD%EA%B0%88%EB%B9%84/60/category/97/display/1/">
                    <area shape="rect" coords="920,395,1520,980" href="https://mingomall.com/product/%EB%8B%AC%EC%BD%A4-%EB%A8%B8%EB%9E%AD%EC%BF%A0%ED%82%A4/59/category/97/display/1/">
                </map>
            </div>
            <div class="box">
                <img src="../static/btn-mingomall.jpg" alt="더 보러가기" usemap="#mingomall-item-all">
                <map name="mingomall-item-all" id="mingomall-item-all">
                    <area shape="rect" coords="524,220,1370,440" href="https://mingomall.com/">
                </map>
            </div>
        </div>
    </section>

    <!--840*1960, 1080*(1920, 2160, 2220, 2280, 2340, 2400), 1200*1920, 1440*2560, 1600*2560, 1644*3840-->
    <section id="menu_mingo">
        <div class="container">
            <div class="row">
                <div class="menu">
                    <div class="menu-title sub-title">
                        <ul>
                            <li class="active"><a href="#menu_mingo">선물세트</a></li>
                            <li><a href="#menu_clean">방역</a></li>
                        </ul>
                    </div>
                    <div class="menu-info">
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/한우.jpg" alt="한우 실속 세트">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">대한한우 실속 선물세트</p>
                                            <span class="selling-price">
                                                <em class="price-percent">20%</em>
                                                <span class="price-before">118,180원</span>
                                                <span class="price-after">95,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8C%80%ED%95%9C%ED%95%9C%EC%9A%B0-%EC%8B%A4%EC%86%8D-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/36/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/최고급한우.jpg" alt="한우 최고급 세트">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">대한한우 최고급 선물세트</p>
                                            <span class="selling-price">
                                                <em class="price-percent">9%</em>
                                                <span class="price-before">154,000원</span>
                                                <span class="price-after">140,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8C%80%ED%95%9C%ED%95%9C%EC%9A%B0-%EC%B5%9C%EA%B3%A0%EA%B8%89-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/37/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/라파허니.jpg" alt="라파데오-라파허니">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[라파데오] 라파허니-S3</p>
                                            <span class="selling-price">
                                                <em class="price-percent">7%</em>
                                                <span class="price-before">54,000원</span>
                                                <span class="price-after">50,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9D%BC%ED%8C%8C%EB%8D%B0%EC%98%A4-%EB%9D%BC%ED%8C%8C%ED%97%88%EB%8B%88-s3/34/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/정관장.jpg" alt="정관장 홍삼비력">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">정관장 홍삼비력 1박스</p>
                                            <span class="selling-price">
                                                <em class="price-percent">4%</em>
                                                <span class="price-before">38,200원</span>
                                                <span class="price-after">40,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%A0%95%EA%B4%80%EC%9E%A5-%ED%99%8D%EC%82%BC%EB%B9%84%EB%A0%A5/35/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/무선충전.jpg" alt="고속무선충전 AL700UV 알림시계 UV살균">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">고속무선충전 AL700UV 알림시계 UV살균</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">49,900원</span>
                                                <span class="price-after">30,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EA%B3%A0%EC%86%8D%EB%AC%B4%EC%84%A0%EC%B6%A9%EC%A0%84-al700uv-%EC%95%8C%EB%A6%BC%EC%8B%9C%EA%B3%84-uv%EC%82%B4%EA%B7%A0/33/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/프렌디.jpg" alt="[홀리트리] 프렌디 2000IU">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[홀리트리] 프렌디 2000IU(비타민D2 2000IU)</p>
                                            <span class="selling-price">
                                                <em class="price-percent">12%</em>
                                                <span class="price-before">68,000원</span>
                                                <span class="price-after">60,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%ED%99%80%EB%A6%AC%ED%8A%B8%EB%A6%AC-%ED%94%84%EB%A0%8C%EB%94%94-2000iu/51/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/커피잔세트.jpg" alt="[로얄크래프톤] 본차이나 모던골드 커피잔세트 5조">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[로얄크래프톤] 본차이나 모던골드 커피잔세트 5조</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">86,500원</span>
                                                <span class="price-after">60,500원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%A1%9C%EC%96%84%ED%81%AC%EB%9E%98%ED%94%84%ED%86%A4-%EB%B3%B8%EC%B0%A8%EC%9D%B4%EB%82%98-%EB%AA%A8%EB%8D%98%EA%B3%A8%EB%93%9C-%EC%BB%A4%ED%94%BC%EC%9E%94%EC%84%B8%ED%8A%B8-5%EC%A1%B0/48/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/궁중팬.jpg" alt="[로얄크래프톤] 바실 통3중 스텐 궁중팬 + 유리뚜껑">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[로얄크래프톤] 바실 통3중 스텐 궁중팬 + 유리뚜껑</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">77,180원</span>
                                                <span class="price-after">53,900원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%A1%9C%EC%96%84%ED%81%AC%EB%9E%98%ED%94%84%ED%86%A4-%EB%B0%94%EC%8B%A4-%ED%86%B53%EC%A4%91-%EC%8A%A4%ED%85%90-%EA%B6%81%EC%A4%91%ED%8C%AC-%EC%9C%A0%EB%A6%AC%EB%9A%9C%EA%BB%91/49/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/보리굴비.jpg" alt="영광 보리굴비 선물세트">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">영광 보리굴비 선물세트</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">136,000원</span>
                                                <span class="price-after">95,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%98%81%EA%B4%91-%EB%B3%B4%EB%A6%AC%EA%B5%B4%EB%B9%84-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/41/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/참굴비.jpg" alt="참굴비 선물세트">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">참굴비 선물세트</p>
                                            <span class="selling-price">
                                                <em class="price-percent">20%</em>
                                                <span class="price-before">125,000원</span>
                                                <span class="price-after">88,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%B0%B8%EA%B5%B4%EB%B9%84-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/40/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/사과중과.jpg" alt="명절 사과선물세트 중과">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">명절 사과선물세트 중과</p>
                                            <span class="selling-price">
                                                <em class="price-percent">36%</em>
                                                <span class="price-before">70,450원</span>
                                                <span class="price-after">45,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%AA%85%EC%A0%88-%EC%82%AC%EA%B3%BC%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8-%EC%A4%91%EA%B3%BC/42/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/사과제수용.jpg" alt="명절 사과선물세트 제수용">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">명절 사과선물세트 제수용</p>
                                            <span class="selling-price">
                                                <em class="price-percent">27%</em>
                                                <span class="price-before">72,290원</span>
                                                <span class="price-after">53,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%AA%85%EC%A0%88-%EC%82%AC%EA%B3%BC%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8-%EC%A0%9C%EC%88%98%EC%9A%A9/43/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/명화특C호.jpg" alt="애경 명화 특C호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">애경 명화 특C호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">62%</em>
                                                <span class="price-before">39,200원</span>
                                                <span class="price-after">15,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%95%A0%EA%B2%BD-%EB%AA%85%ED%99%94-%ED%8A%B9c%ED%98%B8/44/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/정성6호.jpg" alt="애경 정성 6호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">애경 정성 6호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">6%</em>
                                                <span class="price-before">33,900원</span>
                                                <span class="price-after">32,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%95%A0%EA%B2%BD-%EC%A0%95%EC%84%B1-6%ED%98%B8/45/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/명화특A호.jpg" alt="애경 명화 특A호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">애경 명화 특A호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">33%</em>
                                                <span class="price-before">12,000원</span>
                                                <span class="price-after">8,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%95%A0%EA%B2%BD-%EB%AA%85%ED%99%94-%ED%8A%B9a%ED%98%B8/46/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/저주파안마기.jpg" alt="온열 저주파 안마기">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">온열 저주파 안마기</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">28,500원</span>
                                                <span class="price-after">20,300원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%98%A8%EC%97%B4-%EC%A0%80%EC%A3%BC%ED%8C%8C-%EC%95%88%EB%A7%88%EA%B8%B0/47/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/위생키트4호.jpg" alt="[엘하우스] 위생키트 4호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[엘하우스] 위생키트 4호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">22,500원</span>
                                                <span class="price-after">15,700원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%97%98%ED%95%98%EC%9A%B0%EC%8A%A4-%EC%9C%84%EC%83%9D%ED%82%A4%ED%8A%B8-4%ED%98%B8/50/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/실속형1호.jpg" alt="[랩신] 위생세트 실속형 1호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[랩신] 위생세트 실속형 1호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">36,000원</span>
                                                <span class="price-after">25,300원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EC%8B%A4%EC%86%8D%ED%98%95-1%ED%98%B8/53/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/고급형2호.jpg" alt="[랩신] 위생세트 고급형 2호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[랩신] 위생세트 고급형 2호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">78,000원</span>
                                                <span class="price-after">55,200원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EA%B3%A0%EA%B8%89%ED%98%95-2%ED%98%B8/54/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/타트체리.jpg" alt="[그린애] 타트체리100 과채주스">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[그린애] 타트체리100 과채주스</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">35,000원</span>
                                                <span class="price-after">25,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EA%B7%B8%EB%A6%B0%EC%95%A0-%ED%83%80%ED%8A%B8%EC%B2%B4%EB%A6%AC100-%EA%B3%BC%EC%B1%84%EC%A3%BC%EC%8A%A4/52/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/인기건어물.jpg" alt="인기 건어물 선물세트">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">인기 건어물 선물세트</p>
                                            <span class="selling-price">
                                                <em class="price-percent">10%</em>
                                                <span class="price-before">50,000원</span>
                                                <span class="price-after">45,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%9D%B8%EA%B8%B0-%EA%B1%B4%EC%96%B4%EB%AC%BC-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/58/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/머랭쿠키.jpg" alt="달콤 머랭쿠키">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">달콤 머랭쿠키</p>
                                            <span class="selling-price">
                                                <span class="price-after">5,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8B%AC%EC%BD%A4-%EB%A8%B8%EB%9E%AD%EC%BF%A0%ED%82%A4/59/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/춘천닭갈비.jpg" alt="춘천 빨강머리이모 닭갈비">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">춘천 빨강머리이모 닭갈비</p>
                                            <span class="selling-price">
                                                <span class="price-after">12,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%B6%98%EC%B2%9C-%EB%B9%A8%EA%B0%95%EB%A8%B8%EB%A6%AC%EC%9D%B4%EB%AA%A8-%EB%8B%AD%EA%B0%88%EB%B9%84/60/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/한지마스크.jpg" alt="[도담] 한지 마스크">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[도담] 한지 마스크</p>
                                            <span class="selling-price">
                                                <span class="price-after">22,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8F%84%EB%8B%B4-%ED%95%9C%EC%A7%80-%EB%A7%88%EC%8A%A4%ED%81%AC/62/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/건어명가동해.jpg" alt="[건어명가동해] 건어물 선물세트">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[건어명가동해] 건어물 선물세트</p>
                                            <span class="selling-price">
                                                <span class="price-after">10,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EA%B1%B4%EC%96%B4%EB%AA%85%EA%B0%80%EB%8F%99%ED%95%B4-%EA%B1%B4%EC%96%B4%EB%AC%BC-%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/63/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="menu_clean">
        <div class="container">
            <div class="row">
                <div class="menu">
                    <div class="menu-title sub-title">
                        <ul>
                            <li><a href="#menu_mingo">선물세트</a></li>
                            <li class="active"><a href="#menu_clean" >방역</a></li>
                        </ul>
                    </div>
                    <div class="menu-info">
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/위생키트4호.jpg" alt="[엘하우스] 위생키트 4호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[엘하우스] 위생키트 4호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">22,500원</span>
                                                <span class="price-after">15,700원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EC%97%98%ED%95%98%EC%9A%B0%EC%8A%A4-%EC%9C%84%EC%83%9D%ED%82%A4%ED%8A%B8-4%ED%98%B8/50/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/실속형1호.jpg" alt="[랩신] 위생세트 실속형 1호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[랩신] 위생세트 실속형 1호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">30%</em>
                                                <span class="price-before">36,000원</span>
                                                <span class="price-after">25,300원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EC%8B%A4%EC%86%8D%ED%98%95-1%ED%98%B8/53/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/고급형2호.jpg" alt="[랩신] 위생세트 고급형 2호">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[랩신] 위생세트 고급형 2호</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">78,000원</span>
                                                <span class="price-after">55,200원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%9E%A9%EC%8B%A0-%EC%9C%84%EC%83%9D%EC%84%B8%ED%8A%B8-%EA%B3%A0%EA%B8%89%ED%98%95-2%ED%98%B8/54/category/97/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/휴가드.jpg" alt="휴가드 황사방역마스크(KF94)">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">휴가드 황사방역마스크(KF94)</p>
                                            <span class="selling-price">
                                                <em class="price-percent">50%</em>
                                                <span class="price-before">500원</span>
                                                <span class="price-after">250원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%ED%9C%B4%EA%B0%80%EB%93%9C-%ED%99%A9%EC%82%AC%EB%B0%A9%EC%97%AD%EB%A7%88%EC%8A%A4%ED%81%ACkf94/55/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/닥터스.jpg" alt="닥터스 클린겔">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">닥터스 클린겔</p>
                                            <span class="selling-price">
                                                <em class="price-percent">36%</em>
                                                <span class="price-before">7,000원</span>
                                                <span class="price-after">3,500원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%8B%A5%ED%84%B0%EC%8A%A4-%ED%81%B4%EB%A6%B0%EA%B2%94/56/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/밍고덴탈.jpg" alt="밍고 덴탈마스크">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">밍고 덴탈마스크</p>
                                            <span class="selling-price">
                                                <em class="price-percent">29%</em>
                                                <span class="price-before">7,000원</span>
                                                <span class="price-after">5,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%B0%8D%EA%B3%A0-%EB%8D%B4%ED%83%88%EB%A7%88%EC%8A%A4%ED%81%AC/57/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/나인포.jpg" alt="나인포 블랙 마스크">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">나인포 블랙 마스크</p>
                                            <span class="selling-price">
                                                <em class="price-percent">24%</em>
                                                <span class="price-before">660원</span>
                                                <span class="price-after">500원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%82%98%EC%9D%B8%ED%8F%AC-%EB%B8%94%EB%9E%99-%EB%A7%88%EC%8A%A4%ED%81%AC/61/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="top-section">
                                        <img id="image-container" src="../static/한지마스크.jpg" alt="[도담] 한지 마스크">
                                    </div>
                                    <div class="infor">
                                        <div class="item-info">
                                            <p class="item-name">[도담] 한지 마스크</p>
                                            <span class="selling-price">
                                                <span class="price-after">22,000원</span>
                                            </span>
                                        </div>
                                        <div class="infor_btn btn-txt">
                                            <a href="https://mingomall.com/product/%EB%82%98%EC%9D%B8%ED%8F%AC-%EB%B8%94%EB%9E%99-%EB%A7%88%EC%8A%A4%ED%81%AC/61/category/81/display/1/" class="active">구매하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/jquery.min..js"></script>
    <script type="text/javascript" src="../js/jquery.rwdImageMaps.js"></script>
    <script type="text/javascript" src="../js/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) { $('img[usemap]').rwdImageMaps(); });
    </script>>
</body>
</html>